.App {
  text-align: center;
  font-family: monospace;
  height: 100vh;
}

.bg {
  background-image: url("../src/images/background.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.carousel {
  max-width: 500px;
  max-height: 500px;
}

.card {
  margin: 15px;
  background-color: rgba(255, 255, 255, 0.5);
  display: flex;
}

.card-body {
  display: block;
  background-color: rgb(41, 39, 39);
  color: white;
  margin-top: auto;
}

.card-img {
  height: 200px;
  margin-bottom: 2%;
}

.card-btn {
  padding: 5px;
  margin: 5px;
}

.main-container {
  position: relative;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.nav-navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: relative;
}

.nav-item a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
  float: right;
}

.nav-item-name {
  position: absolute;
  display: flex;
  top: 20%;
  color: white;
  text-decoration: none;
  float: left;
  padding-left: 32px;
  font-size: larger;
}

.projects {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: stretch;
  background-size: 50%;
  margin: 10px;
}

.project-item {
  display: block;
  color: black;
}

.project-container {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: red;
}

.project-item a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
  float: right;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) { 
}

@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) { 
}