.App {
  text-align: center;
  font-family: monospace;
  height: 100vh;
}

.about-description {
  background-color: white;
  font-family: garamond;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  border-color: black;
  border-style: dashed;
}

.about-page {
  background-image: url("../src/images/background.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.about-photos {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 5%;
}

.about-photo-1 {
  max-width: 25%;
  max-height: 10%;
}

.about-photo-2 {
  max-width: 25%;
  max-height: 10%;
}

.about-photo-3 {
  max-width: 25%;
  max-height: 10%;
}

.about-photo-4 {
  max-width: 22%;
  max-height: 10%;
}

.bg {
  background-image: url("../src/images/background.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.card {
  margin: 15px;
  background-color: rgba(255, 255, 255, 0.5);
  display: flex;
}

.card-body {
  display: block;
  background-color: rgb(41, 39, 39);
  color: white;
  margin-top: auto;
}

.card-img {
  height: 200px;
  margin-bottom: 2%;
}

.card-btn {
  padding: 5px;
  margin: 5px;
}

.contact {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  bottom: 0%;
  background-color: #333;
  color: white;
  display: table;
  margin: auto;
}

.footer-item {
  list-style-type: none;
  margin: 5px;
}

.footer-item a {
  display: inline;
  margin: 50px;
  color: white;
}

.main-container {
  position: relative;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.nav-navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: relative;
}

.nav-item a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
  float: right;
}

.nav-item-name {
  position: absolute;
  display: flex;
  top: 20%;
  color: white;
  text-decoration: none;
  float: left;
  padding-left: 32px;
  font-size: larger;
}

.projects {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: stretch;
  background-size: 50%;
  margin: 10px;
}

.project-item {
  display: block;
  color: black;
}

.project-container {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.project-item a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
  float: right;
}

.welcome-text {
  color: white;
  font-weight: 500;
}

.welcome-txt-1 {
  border-radius: 9%;
  text-align: center;
  display: inline-block;
  width: 50%;
  background-color: black;
  margin-top: 90px;
  animation: fadeIn linear 2.5s;
  -webkit-animation: fadeIn linear 2.5s;
  -moz-animation: fadeIn linear 2.5s;
  -o-animation: fadeIn linear 2.5s;
  -ms-animation: fadeIn linear 2.5s;
}

.welcome-txt-2 {
  border-radius: 9%;
  text-align: center;
  display: inline-block;
  width: 65%;
  background-color: black;
  margin-top: 180px;
  animation: fadeIn linear 2.5s;
  -webkit-animation: fadeIn linear 2.5s;
  -moz-animation: fadeIn linear 2.5s;
  -o-animation: fadeIn linear 2.5s;
  -ms-animation: fadeIn linear 2.5s;
}

.welcome-txt-3 {
  border-radius: 9%;
  text-align: center;
  display: inline-block;
  width: 75%;
  background-color: black;
  margin-top: 225px;
  animation: fadeIn linear 2.5s;
  -webkit-animation: fadeIn linear 2.5s;
  -moz-animation: fadeIn linear 2.5s;
  -o-animation: fadeIn linear 2.5s;
  -ms-animation: fadeIn linear 2.5s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {
}

@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) {
}

@media query {
}
